<div id="article">
    <span class="subject">Beta Release (b99)</span><br />
    <span class="message">
        <span style="font-size: 14px;">System Requirements:</span><br />
        <ul>
            <li>Recommended 1ghz+ CPU (2ghz+ for smooth video)<br />
            <li>Minimum 256mb RAM (512mb+ recommended)<br />
            <li><a
                    href="https://www.microsoft.com/downloads/details.aspx?familyid=CB7397F3-0949-487B-9247-8FEE451BF952&amp;displaylang=en">DirectX9</a>
                and a graphics card that supports DirectX9 (64mb+ of video ram recommended)<br />
            <li>Microsoft <a
                    href="http://www.microsoft.com/downloads/details.aspx?FamilyID=0856EACB-4362-4B0D-8EDD-AAB15C5E04F5&amp;displaylang=en">.NET
                    Framework 2.0</a><br />
            <li><a href="http://osu.ppy.sh/ffdshow.zip">FFDShow</a> or
                equivelant video codecs (only for video support)
        </ul>
        </p>

        <p><span style="font-size: 14px;">Instructions:</span><br />
            <ol style="list-style-type: decimal">
                <li> Download <b><a
                            href="https://osu.ppy.sh/community/forums/topics/130144?n=1">osume</a></b>
                    and save to a new folder.<br />
                <li> Run osu!.exe and let it update. This will populate the directory it's in with subfolders and
                    related files so make sure you put it in it's own folder if you haven't already.<br />
                <li> Download some beatmaps from the <a
                        href="http://osu.ppy.sh/index.php?p=ranking">beatmap
                        listing</a> (<a
                        href="#">or
                        visit the forum for unofficial submissions</a>) and place in the songs/ directory. <b>
                        <font color="red">IE USERS</font>: The beatmaps will download as zip files - DO NOT EXTRACT
                        these - simply place them in your Songs folder intact!
                    </b> (You need a forum account for this step - registration is fast and simple. Please introduce
                    yourself if you have the time :))
                <li><strong>Play!</strong> If you are unfamiliar with the gameplay style, please read the guide on the
                    <a href="/faq">FAQ</a>
            </ol>
        </p>

        <p><span style="font-size: 14px;">Current Features:</span><br />
            <ul>
                <li>Daily updates (and weekly public releases)!
                <li>Gameplay/scoring feels almost identical to the original.
                <li>Complete editor featuring easy to use tools.
                <li>Video and image support for backgrounds.
                <li>Ever-growing selection of songs to play.
                <li>Online ranking keeps gameplay fresh as you compete for your place on the charts.
                <li>Replay mode lets you watch your own high scores or those of competitors online!
                <li>Full in-game universal and per-beatmap skinning support.
            </ul>

            <p><span style="font-size: 14px;">Remember:</span><br />
                <ul>
                    <li>This game is still in beta. Don't expect it to run perfectly on every system!<br />
                    <li>That said, if you DO have problems - please voice them in here! Feedback is the best way to keep
                        things improving :).<br />
                    <li>If you get an initialisation error when running osume.exe, install the .NET Framework using the
                        link above!<br />

    </span>
    <span class="links"></span>
</div>
</div>